/*
workContainer

  title
  projects
    [workGrid]
      mobileScreencap
    description

  title
  projects
    webScreencap
    description

*/

.workContainer {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
}
.title {
  font-family: 'Space Mono', monospace;
  font-size: 50px;
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.workGrid {
  display: flex;
  flex-direction: row;
  width: 40%;
  translate: -8%;
}
.mobileScreencap{
  width: 50%;
  height: auto;
}
.webScreencap {
  width: 40%;
  height: auto;
}
.description {
  width: 40vw;
  max-width: 40%;
  height: auto;
}

@media (max-aspect-ratio: 9/16), (pointer: none), (pointer: coarse) {
  .workContainer {
    width: 95%;
  }
  .project {
    flex-direction: column-reverse;
  }
  .workGrid {
    width: 95%;
    translate: initial;
  }
  .webScreencap {
    width: 95%;
  }
  .description {
    width: 80%;
    text-align: center;
    max-width: initial;
    translate: 10%;
  }
}
