.blob {
  height: 30vw;
  width: 30vw;
  left: 50vw;
  top: 50vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #C33764, #1D2671);
  position: fixed;
  translate: -50% -50%;
  border-radius: 50%;
  animation: blobRotate 17s infinite linear;
  z-index: -1;
}

.blur {
  filter: blur(125px);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

@keyframes blobRotate {
  from {
    transform: rotate(0deg);
    scale: 1.2 1;
  }
  50% {
    scale: 1 1.2;
  }
  to {
    transform: rotate(360deg);
    scale: 1.2 1;
  }
}