.contactContainer {
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Space Mono';
  font-size: 50px;
}

.formGrid {
  margin: auto;
  display: grid;
  width: 50vw;
  height: 30vh;
  max-width: 900px;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
  position: relative;
}

.name {
  border-radius: 5px;
  border: none;
  grid-column: 1 2;
  grid-row: 1 2;
  font-size: 20px;
  padding-left: 10px;
}

.email {
  border-radius: 5px;
  border: none;
  grid-column: 2 3;
  grid-row: 1 2;
  font-size: 20px;
  padding-left: 10px;
}

.message {
  border-radius: 5px;
  border: none;
  color: black;
  opacity: 50%;
  grid-column-start: 1;
  grid-column-end: 3;
  font-family:Arial, Helvetica, sans-serif;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 20px;
}

.submit {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.thankyou {
  margin: auto;
  text-align: center;
}

@media (max-aspect-ratio: 9/16) {
  .contactContainer {
    max-width: 80vw;
  }

  .formGrid {
    width: 80vw;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    grid-template-columns: 1fr;
  }


  .name {
    width: 78vw;
    border-radius: 5px;
    border: none;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 20px;
    padding: 6px;
    padding-left: 10px;
  }

  .email {
    width: 78vw;
    border-radius: 5px;
    border: none;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    padding: 6px;
    padding-left: 10px;
}

  .message {
    width: 78vw;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family:Arial, Helvetica, sans-serif;
    padding: 6px;
    padding-left: 10px;
  }

  .submit {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 160px;
    height: 40px;
    font-size: 20px;
    justify-self: center;
  }
}